{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h1 class="display-3">My blog</h1>
            <!-- blog post -->
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <h4 class="text-muted">Blog post subtitle here</h4>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <h4 class="text-muted">Blog post subtitle here</h4>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row mb-4">
                <div class="col-12">
                    <input class="form-control" placeholder="Search" type="search">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h4>Most viewed posts</h4>
                    <div class="col-12">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Tags</h4>
                    <span class="badge badge-warning">django</span>
                    <span class="badge badge-primary">python</span>
                    <span class="badge badge-info">javascript</span>
                    <span class="badge badge-success">docker</span>
                    <span class="badge badge-secondary">productivity</span>
                    <span class="badge badge-dark">trips</span>
                    <span class="badge badge-info">devops</span>
                    <span class="badge badge-light">kubernetes</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}