{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h1 class="display-3">My blog</h1>
            <!-- blog post -->
            {% for post in queryset %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {% for tag in post.tags.all %}
                            <span class="badge badge-{{ tag.badge }}">{{ tag.title }}</span>
                            {% endfor %}
                            <h2 class="card-title mb-0">
                                <a href="#" class="text-dark">{{ post.title }}</a>
                            </h2>
                            <span class="text-muted">posted by {{ post.author }} at {{ post.timestamp }}</span>
                            <div class="card-text mt-2">
                                {{ post.overview }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-2"><i class="fas fa-clock"></i> 5 min read</div>
                                <div class="col-8"></div>
                                <div class="col-2"><a class="card-link text-dark" href="#">
                                        <i class="fas fa-book"></i> Read more
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- begin paginator -->
            {% if queryset.has_previous or queryset.has_next %}
            <div class="row">
                <div class="col-2 text-left">
                    {% if queryset.has_previous %}
                    <a class="text-dark" href="?{{ page_request_var }}={{ queryset.previous_page_number }}">
                        <i class="h2 fas fa-arrow-circle-left"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="col-8"></div>
                <div class="col-2 text-right">
                    {% if queryset.has_next %}
                    <a class="text-dark" href="?{{ page_request_var }}={{ queryset.next_page_number }}">
                        <i class="h2 fas fa-arrow-circle-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- end paginator -->
        </div>
        <div class="col-3">
            <div class="row mb-4">
                <div class="col-12">
                    <input class="form-control" placeholder="Search" type="search">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h4>Most viewed posts</h4>
                    <div class="col-12">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Tags</h4>
                    {% for tag in tags %}
                    <span class="badge badge-{{ tag.badge }}">{{ tag.title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}