{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h1 class="display-3">My blog</h1>
            <!-- blog post -->
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <h4 class="text-muted">Blog post subtitle here</h4>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <h4 class="text-muted">Blog post subtitle here</h4>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="badge badge-warning">django</span>
                    <h1>Blog post title</h1>
                    <h4 class="text-muted">Blog post subtitle here</h4>
                    <p>And so... This is the blog post overview
                        Here we talk in few word what about is this post.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <input class="form-control" placeholder="Search" type="search">
        </div>
    </div>
</div>

{% endblock content %}