<header class="navbar navbar-dark bg-dark navbar-expand flex-column flex-md-row bd-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Works</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</header>