{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show m-0" role="alert">
    <strong>Error!</strong> {{ error_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="jumbotron jumbotron-fluid h-50">
    <div class="container align-self-center h-100">
        <div class="row justify-content-center h-100">
            <div class="col-12 text-center align-self-center">
                <h1 class="display-4">@thalesbruno</h1>
                <p class="lead">
                    Hi! I am a full-stack web developer.
                </p>
                <hr>
                <p class="lead">
                    <span class="badge badge-pill py-2 badge-success">Django</span>
                    <span class="badge badge-pill py-2 badge-primary">Python</span>
                    <span class="badge badge-pill py-2 badge-warning">Javascript</span>
                    <span class="badge badge-pill py-2 badge-info">Docker</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 id="worksSection">Works</h2>
    <div class="row mb-5">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact section -->
    <h2 id="contactSection">Contact</h2>
    <div class="row mb-5">
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}