{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid my-5">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h1 class="display-4">@thalesbruno</h1>
                <p class="lead">
                    Hi! I am a web developer.
                </p>
                <hr>
                <span class="badge badge-pill py-2 badge-success">Django</span>
                <span class="badge badge-pill py-2 badge-primary">Python</span>
                <span class="badge badge-pill py-2 badge-warning">Javascript</span>
                <span class="badge badge-pill py-2 badge-info">Docker</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 id="worksSection">Works</h2>
    <div class="row mb-5">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/image_card.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Donec vehicula</h4>
                    <p class="card-text">Cras interdum, tellus non placerat dapibus, justo magna consectetur mauris.</p>
                    <a href="#" class="card-link">bibendum</a>
                </div>
            </div>
        </div>
    </div>
    <!-- testing new form -->
    <h2 id="contactSection">Contact</h2>
    <div class="row mb-5">
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}