{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row my-3 justify-content-center">
        <div class="col-9 my-3 text-center">
            <h2>Thank you for the contact! <i class="fab fa-angellist"></i></h2>
            <p class="lead">
                I will read your message and send a reponse as soon as possible!
                You also can find me in my social media as well. Links in footer and navigation bar sections.
            </p>
            <a class="h1 text-dark" href="{% url 'home' %}"><i class="fas fa-arrow-circle-left"></i></i></a>
        </div>
    </div>
</div>

{% endblock content %}